#!/usr/bin/python3
from os import getenv

##########################################
# Nextcloud settings

url = getenv('NEXTCLOUD_URL', 'https://nextcloudexample.com')
user = getenv('NEXTCLOUD_USER', 'username')
pw = getenv('NEXTCLOUD_PASSWORD', 'secretpw')

##########################################
# Gotify settings

urlpush = getenv('GOTIFY_URL', 'https://gotifyexample.com')
token = getenv('GOTIFY_TOKEN', 'TOKEN')

##########################################
# General settings

# Frequency for checking new notifications
delay = int(getenv('NOTIFICATION_DELAY', 30))

# Priority for the notification sent through this channel
# If this is set below 10, there won't be any sound when receiving a message
notification_priority = getenv('NOTIFICATION_PRIORITY', '10')

# Optional log file
log_file = getenv('LOG_PATH', 'logs/gotify-nc.log')
